/**************************** CSS Reset  ****************************/
textarea {
	resize: none;
}
/**************************** General ****************************/
p{
	color:#036;
	font-size:13px;
	vertical-align: auto;
	text-align: center;
	float: none;
}
.backgroundImage {
	position:absolute; 
	top: -16%;
}
#mainContainer{
	margin: 0 auto;
	padding-bottom: 0px;
	width: 50em;
	height: 39em;
	text-align: center;
	position: relative;
	top: -15em;
	left: 0;
	z-index: 3;
	overflow:hidden;
}
/**********Animated Cloud Background********************/
#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}
.cloud {
	width: 200px; height: 60px;
	background: rgb(255, 255, 255);
	z-index: 1;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}
.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}
/*Time to animate*/
.x1 {
	left: 30%;
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
	opacity: 0.5;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 35%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}
.x3 {
	left: 30%; 
	top: -50px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 28s linear infinite;
	-moz-animation: moveclouds 28s linear infinite;
	-o-animation: moveclouds 28s linear infinite;
}
.x4 {
	left: 32%; 
	top: -100px;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 23s linear infinite;
	-moz-animation: moveclouds 23s linear infinite;
	-o-animation: moveclouds 23s linear infinite;
}
.x5 {
	left: 20%; 
	top: -175px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.45; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 42s linear infinite;
	-moz-animation: moveclouds 42s linear infinite;
	-o-animation: moveclouds 42s linear infinite;
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -800px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -800px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -800px;}
}
/**************************** Login Page ****************************/
#loginPage{
    z-index: 200;
    position: absolute;
    margin: 0 0px 0 0;
    float:left;
    width: 80%;
    left: 10%;
    top: 2%;
    background-color: rgba(255,255,255,.6);
    transition: left .75s ease-in;
    -webkit-transition: left .75s ease-in;
    -moz-transition: left .75s ease-in;
    -o-transition: left .75s ease-in;
    /*
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: popin;
    -moz-animation-name: popin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;*/
}
#loginPage.transitionIn{
    left: 10%;
}
#loginPage.transitionOut{
    left: 100%;
}
.login-form-line{
    margin:0px 0 9px 0; }
.login-input{
    display:inline-block;
    width: 55%;
}
.login-label{
    margin:0 1% 0 1%;
    display:inline-block;
    text-align:right;
    line-height:1.8;
    font-size:16px;
    line-height:1;
    font-weight:bold;
    text-shadow: -1px 0 #006, 0 1px #006, 1px 0 #006, 0 -1px #006,
    -2px 0 #006, 0 2px #006, 2px 0 #006, 0 -2px #006,
    -3px 0 #006, 0 3px #006, 3px 0 #006, 0 -3px #006,
    0 0 0.3em #006, 0 0 0.2em #006,
    0 0 0.3em #006, 0 0 0.3em #006;
}
#login-group-rememberMe{
    width: 39%;
    left: 50%;
    margin: .5em;
}
.loginButtons{
    width: 90%;
    display: block;
    left: 5%;
    padding-bottom: 1.5%;
    margin-bottom: 1.5% !important;
    font-size: 35px !important;
}
#loginOr{
    font-style: italic;
    margin-bottom: .5%;
}

/**************************** Registration Page ****************************/
#registrationPage{
    z-index: 200;
    position: absolute;
    margin: 0 0px 0 0;
    float:left;
    width: 80%;
    left: 100%;
    top: -2%;
    transition: left .75s ease-in;
    -webkit-transition: left .75s ease-in;
    -moz-transition: left .75s ease-in;
    -o-transition: left .75s ease-in;
    /*
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: popin;
    -moz-animation-name: popin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;*/
}
#registrationPage.transitionIn{
    left: 10%;
}
#registrationPage.transitionOut{
    left: 100%;
}
.registration-form-line{
    margin:0px 0 9px 0; }
.registration-input{
    display:inline-block;
    width: 52%;
}
#registration-info{
    color: rgb(245, 73, 96);
    font-style: italic;
    color: rgb(255, 56, 159);
    padding-left: 100px;
    padding-bottom: 8px;
}
.registration-label{
    margin:0 1% 0 1%;
    width: 160px;
    display:inline-block;
    text-align:right;
    line-height:1.8;
    font-size:16px;
    line-height:1;
    font-weight:bold;
    text-shadow: -1px 0 #006, 0 1px #006, 1px 0 #006, 0 -1px #006,
    -2px 0 #006, 0 2px #006, 2px 0 #006, 0 -2px #006,
    -3px 0 #006, 0 3px #006, 3px 0 #006, 0 -3px #006,
    0 0 0.3em #006, 0 0 0.2em #006,
    0 0 0.3em #006, 0 0 0.3em #006;
}
.registrationButtons{
    width: 90%;
    display: block;
    left: 5%;
    padding-bottom: 1.5%;
    margin-bottom: 1.5% !important;
    font-size: 35px !important;
}
#registrationOptional{
    font-style: italic;
    margin-bottom: .5%;
    margin-left: 165px;
}
#privacyClause{
    font-style: italic;
    margin-bottom: .5%;
    font-size: 13px;
    font-weight: bold;
}


/****************************Small Legend*************************/
#smallLegendContainer{
	width: 7%;
	display: table; 
	height: auto; 
	position: relative; 
	overflow: hidden; 
	float:left;
	margin: 1% 0 0 0;
	background-color: rgba(255,255,255,.6);
}
#smallLegendCenteringHack{
	position: relative; 
	top: 50%;
	display: table-cell;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:middle;
	height:inherit;
	float:left;
	background-color: rgba(255,255,255,.6);
}
#smallLegend{
	float:left;
	border: 2px solid #e5e5e5;
	background:white;
	margin:0;
	width:100%;
	font-size:100%;
	height: auto;
}
.smallGoalDesc{
	float:left;
	width:65%;
	border-radius:15px;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	cursor:pointer;
	height: auto;
	padding-left: 0px;
	/**border: 1px solid #e5e5e5;**/
	border-width: 1px;
	border-color: #039;
	display:inline-block;
	border: 1px solid #3CF;
	color:#627F81;
}
.smallGoalDesc:hover{
	border: 1px solid #006;
	display:inline-block;
	color:#006;
	/**background: #CCC;**/
}
.smallGoalDescSelected{
	float:left;
	width:65%;
	border-radius:15px;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	cursor:pointer;
	height: auto;
	padding-left: 0px;
	border: 1px solid #e5e5e5;
	background: #3CF;
	display:inline-block;
	color:#FFF;
}
.smallGoalDescSelected:hover{
	border: 1px solid #3CF;
	display:inline-block;
	/**background: #CCC;**/
}
.smallGoalDot{
	margin:0;
	float:right;
	width:29px;
	height:29px;
	border-radius:15px;
	margin-left:3px;
	margin-top:2px;
	margin-bottom:2px;
	cursor:pointer;
	border: 2px solid rgb(112, 112, 112);
	clear:none;
}
/**************************** Calendar ****************************/
#calendarContainer{
	margin:0 0 0 0;
	position: absolute;
	width: 100%;
	top: .4em;
	left: 100%;
	display: block;
	transition: left .75s ease-in; 
    -webkit-transition: left .75s ease-in; 
    -moz-transition: left .75s ease-in; 
    -o-transition: left .75s ease-in; 
}
#calendarContainer.transitionIn{
 	left: 0px;
}
#calendarContainer.transitionOut{
 	left: 100%px;
}
#calendar{
	position: relative;
	margin: 0 2.5% 0 0;
	float: right;
	width: 90.5%;
	top: .4em;
	left: 0%;
	display: inline-block;
	background-color: rgba(255,255,255,.6);
	transition: left .75s ease-in; 
    -webkit-transition: left .75s ease-in; 
    -moz-transition: left .75s ease-in; 
    -o-transition: left .75s ease-in; 
}
.calHeader{
	width:100%;
	height:38px;
	/**height:46px**/
	position:relative;
	font-family:"Arial Black", Gadget, sans-serif;
	/**background:white;**/
}
.calHeader p{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	height: inherit;
	display:inline-block; 
	vertical-align:middle;
}
.headerImg{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	height: inherit;
}
.calTitle{
	width: 51%;
	height:38px;
	/**height:46px**/
	float:left;
	text-align:center;
	pointer-events: none;
	/**background:white;**/
;
}
.calTitle h2{
	line-height:1.1;
	margin-top:4px;
	font-size:28px;
	/**font-size:32px**/
	color:#FFF;
	text-shadow: -1px 0 #006, 0 1px #006, 1px 0 #006, 0 -1px #006,
				 -2px 0 #006, 0 2px #006, 2px 0 #006, 0 -2px #006,
				 -3px 0 #006, 0 3px #006, 3px 0 #006, 0 -3px #006,
				 0 0 0.4em #006, 0 0 0.4em #006,
        		 0 0 0.4em #006, 0 0 0.4em #006;	
    pointer-events: none;
}

.previousMonth{
	width: 22%;
	float: left;
	height:38px;
	/**height:46px**/
	cursor:pointer;
	margin-left: 20px;
}
.nextMonth{
	width: 18%;
	float: left;
	height:38px;
	/**height:46px**/
	cursor:pointer;
}

#daysmonth{
	clear:both;
	margin-bottom:0px;
}
.daysweek{	
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	height: inherit;
}
.dayweek{
	width:14.28%;
	/*width:95px;*/
	height:18px;
	/**height:22px**/
	float:left;
	border-right:1px solid #e5e5e5;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	height: inherit;
	pointer-events: none;
}
.dayweek p{
	display:block;
	text-align:center;
	font-size:16px;
	line-height:18px;
	/**line-height:22px**/
	text-shadow:0 1px 0 #ffffff;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	height: inherit;}

.week{overflow:auto;border-top:1px solid #c2c2c2;}
.weeku{overflow:auto;border-top:1px solid #c2c2c2;border-bottom:1px solid #e5e5e5;}

.today{background:#fffcdf;border-right:1px solid #e5e5e5;}
.today .daybar{background:#fffac1;}


.daybrn{float:left; width:14.42%;/*width:97px*/}
.day{width:14.11%;/*width:95px*/float:left;border-right:1px solid #e5e5e5;}
.dayOtherMonth{width:14.11%;float:left;border-right:1px solid #b3b3b3;background-color: rgba(230,230,230,.5);}
.dayToday{width:13.81%; float:left; border: 2px solid rgba(34,90,190,.52); background:rgba(255,255,255, .67);}
.brn{border-right:none}
.bun{border-bottom:none;}

.day:hover{background-color: rgba(230,230,230,.6);cursor:pointer;}
.daybrn:hover{background-color: rgba(230,230,230,.6); cursor:pointer;}
.dayToday:hover{background-color: rgba(230,230,230,.6); cursor:pointer;}
.dayOtherMonth:hover{background-color: rgba(245,245,245,.6); cursor:pointer;}

.daybar{width:100%;float:left;background:#e0ecf3;pointer-events: none;}
.daybarOtherMonth{width:100%;float:left;background:#e0ecf3;pointer-events: none;}
.daybarToday{color:#71CBD3!important; font-weight:bold!important; font-size:15px!important;pointer-events: none;}
.daybar p{margin-left:5px;
		margin-top:0px;
		/*margin-top:3px;*/
		margin-bottom:0px;
		/*margin-bottom:3px;*/
		font-size:15px;
		font-weight:bold;
		color:#969696;
		text-shadow:0 1px 0 #ffffff;
		pointer-events: none;
		}	

.daybarOtherMonth p{
	margin-left:5px;
	margin-top:0px;
	/*margin-top:3px;*/
	margin-bottom:0px;
	/*margin-bottom:3px;*/
	font-size:15px;
	color:#969696;
	pointer-events: none;}


.dots{
	width:95%;
	/*height:50px;*/
	clear:both;
	padding-left: 2px;
	}
.goaldot{width:25%;
		/*width:22px;*/
		height:22px;
		clear:none;
		float:left;}

/**************************** Colors ****************************/
.none{background:#d6d6d6;}
.none:hover{background:#dfdfdf;}
.blue{background:#00ffff;}
.blue:hover{background:#00ffff;}
.red{background:#e50000;}
.red:hover{background:#ff6164;}
.orange{background:#f97306;}
.orange:hover{background:#f97306;}
.green{background:#01ff07;}
.green:hover{background:#98e857;}
.brown{background:#c9ae74;}
.brown:hover{background:#c9ae74;}
.pink{background:#ff028d;}
.pink:hover{background:#ff796c;}
.yellow{background:#F2DA00;}
.yellow:hover{background:#FF0;}
.purple{background:#9a0eea;}
.purple:hover{background:#9a0eea;}
.darkblue{background:#039}
.darkblue:hover{background:#03C;}
.lightyellow{background:#FF9}
.lightyellow:hover{background:#FFC}

/**************************** Legend ****************************/
.legend{
	float:right;
	border-radius:15px;
	padding-left:4px;
	padding-right:2px;
	background:white;
	margin:0;
	width:101%;
	font-size:100%;
	height: auto;
	display:inline-block;
	top:-12px;
	
	-moz-box-shadow:0 0 30px 5px #000;
    -webkit-box-shadow: 0 0 30px 5px #000;
}
.p{

	float:left; 
	cursor:pointer; 
	font-size:20px
	margin:0;
	padding:0;
	border:0;
	outline:0;
	height: inherit;
	font-weight:bold;
}
.goalDesc{
	float:left;
	width:65%;
	border-radius:15px;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	cursor:pointer;
	height: auto;
	padding-left: 0px;
	/**border: 1px solid #e5e5e5;**/
	border-width: 1px;
	border-color: #039;
	display:inline-block;
	border: 1px solid #3CF;
	color:#627F81;
}
.goalDesc:hover{
	border: 1px solid #006;
	display:inline-block;
	color:#006;
	/**background: #CCC;**/
}
.goalDescSelected{
	float:left;
	width:65%;
	border-radius:15px;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	cursor:pointer;
	height: auto;
	padding-left: 0px;
	border: 1px solid #e5e5e5;
	background: #3CF;
	display:inline-block;
	color:#FFF;
}
.goalDescSelected:hover{
	border: 1px solid #3CF;
	display:inline-block;
	/**background: #CCC;**/
}
.goalLine{
}
.goalLine:hover{
	border: 1px solid #e5e5e5;
}
.goalDot{
	margin:0;
	float:left;
	width:29px;
	height:29px;
	border-radius:15px;
	margin-left:3px;
	margin-top:2px;
	margin-bottom:2px;
	margin-right:3px;
	cursor:pointer;
	border: 2px solid #777;
}
.goalText{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	height: inherit;
	float:left;
	width:80%;
	border-radius:5px;
	margin-left:2px;
	margin-right:0px;
	text-height: auto;
	text-shadow:none;
	font-size:17px;
	margin-top:7px;
	margin-bottom:5px;
	font-family:"Times New Roman", Times, serif;
}
.legendContainer{
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	height:inherit;
	position:absolute;
	z-index:1000;
	width: 72%;
	padding-left:0px;
	display:inline-block;
	top: 2.4em;
	left: 8em;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	opacity: 1;
	-webkit-animation-name: popin;
	-moz-animation-name: popin;
	-webkit-animation-duration: 350ms;
	-moz-animation-duration: 350ms;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
}
.legendLine {
	display: block;
}

.update-goals-label-left{
	display:inline-block;
	font-size:16px;
	line-height:1;
	font-weight:bold;
	text-shadow: -1px 0 #006, 0 1px #006, 1px 0 #006, 0 -1px #006,
				 -2px 0 #006, 0 2px #006, 2px 0 #006, 0 -2px #006,
				 -3px 0 #006, 0 3px #006, 3px 0 #006, 0 -3px #006,
				 0 0 0.3em #006, 0 0 0.2em #006,
        		 0 0 0.3em #006, 0 0 0.3em #006;
				 
}
.update-goals-label-x{
	margin:0 1% 0 2.5%;
	display:inline-block; 
	text-align:right;
}
.update-goals-input-n{
	display:inline-block;
	margin:0 1% 0 0;
	width:74%;
}
.update-goals-input-x{
	display:inline-block;
	margin:0 5% 0 0;
}
.update-goals-label-n{
	margin:0 1% 0 1%;
	width:60px;
	display:inline-block;
	text-align:right;
	line-height:1.8;
		font-size:16px;
	line-height:1;
	font-weight:bold;
	text-shadow: -1px 0 #006, 0 1px #006, 1px 0 #006, 0 -1px #006,
				 -2px 0 #006, 0 2px #006, 2px 0 #006, 0 -2px #006,
				 -3px 0 #006, 0 3px #006, 3px 0 #006, 0 -3px #006,
				 0 0 0.3em #006, 0 0 0.2em #006,
        		 0 0 0.3em #006, 0 0 0.3em #006;
}
/*****JQM CSS Overrides*****/
.ui-btn-inner{
    padding: 4px 4px 4px 4px;
	/*font-size:13px;*/
}
.ui-btn-up-b{
	border: 1px solid #111;
	background: #333;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0 1px 1px black;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #00AAD5 ),to( #015E52 ));
	background-image: -webkit-linear-gradient( #00AAD5,#015E52 );
	background-image: -moz-linear-gradient( #00AAD5,#015E52 );
	background-image: -ms-linear-gradient( #00AAD5,#015E52 );
	background-image: -o-linear-gradient( #00AAD5,#015E52 );
	background-image: linear-gradient( #00AAD5,#015E52 );
}
.ui-btn-hover-b{
	border: 1px solid #111;
	background: #333;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0 1px 1px black;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#0484A5),to(#024D43));
	background-image: -webkit-linear-gradient( #0484A5,#024D43 );
	background-image: -moz-linear-gradient( #0484A5,#024D43 );
	background-image: -ms-linear-gradient( #0484A5,#024D43 );
	background-image: -o-linear-gradient( #0484A5,#024D43 );
	background-image: linear-gradient( #0484A5,#024D43 );
}
.ui-btn-down-b{
	border: 1px solid #111;
	background: #333;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px black;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#015166),to(#013D35))!important;
	background-image: -webkit-linear-gradient( #015166,#013D35)!important;
	background-image: -moz-linear-gradient( #015166,#013D35 )!important;
	background-image: -ms-linear-gradient( #015166,#013D35 )!important;
	background-image: -o-linear-gradient( #015166,#013D35 )!important;
	background-image: linear-gradient( #015166,#013D35 )!important;
}

.ui-body-c,
.ui-overlay-c {
	border: 0px solid 		#aaa /*{c-body-border}*/;
	color: rgb(14, 13, 13) /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: rgb(183, 200, 245) /*{c-body-background-color}*/;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*//*), to( #eeeeee*/ /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	/*background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*//*, #eeeeee *//*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
}

.ui-dialog-contain {
	margin:17% auto 15px auto;
	max-width:450px;
	top:-95px;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/));
	background-image: -webkit-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);
	background-image: -moz-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);
	background-image: -ms-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);
	background-image: -o-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);
	background-image: linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);
} 


